<!DOCTYPE html>

<!-- This is the only file implementing the interface. It is sent by the Flask server with several parameters (pieces of data added inside double curly braces {{param}}-->

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Algorithms to find Distractors</title>

	<!-- Bootstrap CSS CDN: Bootstrap decoration -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- dataTables CSS CDN: dynamic datatables decoration for the dataTables package  -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

	<style>
	.normalAccordion .dropdown-toggle::after {
		display:none !important;
	}

	.normalAccordion a[data-toggle="collapse"] {
		position: initial !important;
	}

	.normalAccordion a[aria-expanded="true"] {
		color: initial !important;
		background: initial !important;
	}

	.noarrow a[aria-expanded="true"]::before {
		display: none !important;
	}

	.noarrow a[aria-expanded="false"]::before {
		display: none !important;
	}

	.odd {
		background-color: #E8F4F8;
	}

	.loader {
		border: 16px solid #f3f3f3; /* Light grey */
		border-top: 16px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 120px;
		height: 120px;
		animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	.modal-dialog {
		top: 40%;
	}

</style>
</head>


<body>
	
	<!-- spinner to animate waiting times  -->
	<div id="spinner" class="modal fade">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-body">
			<center><div class="loader"></div></center>
		  </div>
		</div>
	  </div>
	</div>


	<!-- Starting of the interface HTML page  -->
	
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Distractors Tool</h3>
			</div>

			<ul class="list-unstyled components">
				
				<!-- dropdown menus
				     The Boostrap data-toggle implies that clicking in the <a> content, teh elemnt with the href #id are shown
					 It could also be done with data-target instead href  -->
				
				<!-- Algorithms menu, just A2 by now -->
								
				<li class="active">
					<a href="#menuAlgorithms" data-toggle="collapse" aria-expanded="false">Algorithms</a>
					<ul class="collapse list-unstyled in" id="menuAlgorithms">
						<li><a href="#" data-div="Alg_A2">Algorithm A2</a></li>
					</ul>
				</li>
				
				<!-- Tools menu-->
				<!-- the id attribute is ised to add a jQuery $(#id).click to dinamically update the data-div content  -->
				<li>
					<a href="#menuTools" data-toggle="collapse" aria-expanded="false">Tools</a>
					<ul class="collapse list-unstyled" id="menuTools">
						<li><a href="#" data-div="wordDistance">Distance between words</a></li>
						<li id="modelVocabularyMenu"><a href="#" data-div="modelVocabulary">Vocabulary of the model </a></li>
						<li id="questionAnswerDBMenu"><a href="#" data-div="questionAnswerDB">Question/Answer default</a></li>
						<li id="trainingTextsMenu"><a href="#" data-div="trainingTexts">Texts used for training</a></li>
						<li id="originalTextsProcessingMenu"><a href="#" data-div="originalTextsProcessing">Original texts processing</a></li>
					</ul>
				</li>
				
				<li>
					<a id="launchCorpus">Corpus</a>
				</li>
				
			</ul> 
		</nav>


		<!-- Page Content Holder -->
		<div id="content" class="col-sm-12">

			<!-- Central content if Tools->Word Distance is selected -->
			<div id="wordDistance" class="hidden">
				<div class="col-sm-12">
					<p>Distance between words</p>
					<form id="form_wordDistance" action="" method="post">
						<div class="form-group">
							<label for="word1">Word 1:</label>
							<input type="text" id="word1" name="word1"></input>
						</div>
						<div class="form-group">
							<label for="word2">Word 2:</label>
							<input type="text" id="word2" name="word2"></input>
						</div>
						<div class="form-group">
							<label for="model">Select a model:</label>
							<select id="wdModel" name="modelName" style="height: auto;">
								{% for m in parModels %}	
								<option value="{{m}}" {{m | isDefaultOption}}>{{ m | removeDefault }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<!-- when clicking, a jQuery (later defined) is activated -->
							<input type="button" id="calculateWordDistance" name="calculateWordDistance" value="Calculate distance"></input>
						</div>
					</form>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">Results</h4>
						</div>
						<div id="wordDistanceResults" class="panel-body">
						</div>
					</div>
				</div>
			</div>
			
			
			<!--  Central content if Tools->Model Vocabulary is selected-->
			<div id="modelVocabulary" class="hidden">
				<div class="col-sm-12">
					<form  id="form_changeModel_vocabulary" method="post">
						<h4>Select a model</h4>
						<div class="form-group" style="margin-bottom: 0px; display: inline">
							<select class="form-control" id="model_vocabulary" name="model" style="height: auto; display: inline">
								<option value="None" selected="selected">Select a model</option>
								{% for m in parModels %}	
								<option value="{{m}}">{{ m | removeDefault }}</option>
								{% endfor %}
							</select>
					   </div>
					</form>
					<!--  teh table will be filled with the jQuery $(#model_vocabulary).change  when changing the selector -->
					<hr>
					<h4 id='legendSelectWord'>Select a word to show its most similar words</h4>
					<table id="modelVocabularyTable"></table>
					<h4 id='legendMostSimilarWords'><hr><span id='textLegendMostSimilarWords'></span> <p>
					<input id='radioSimilarAll' type="radio" name="similarWords" value="all" checked> All words   &nbsp;&nbsp;&nbsp;
					<input id='radioSimilarEntities' type="radio" name="similarWords" value="entities"> Only entities  &nbsp;&nbsp;&nbsp;
					<input id='radioSimilarType' type="radio" name="similarWords" value="type"> Only same-type entities  &nbsp;&nbsp;&nbsp;
					</h4>
					<table id="similarWordsTable"></table>
				</div>
			</div>
			
			
			<!--  Central content if   Tools->QA is selected -->
			<div id="questionAnswerDB" class="hidden">
				<form id="questionAnswerDBForm" action="" method="post">
					 <div class="form-group" style="margin-bottom: 0px">
						<!--  the text area will be filled with the jQuery $(#questionAnswerDBMenu).click  -->
						<textarea id="newStoredQA" style="width:100%; height:250px;"></textarea>
					 </div>
					 <div class="form-group" style="margin-bottom: 0px">
						<input id="submit_storedQA" type="button" value="Save Question|Answers"></input>
					 </div>
				</form>
			</div>
			
			
			
	

			<!--  Central content if Tools->Training Texts is selected -->
			<div id="trainingTexts" class="hidden">
				<div class="col-sm-12">
					<p>Training Texts</p>
					<ul class="nav nav-tabs noarrow">
						<li class="active"><a data-toggle="tab" href="#trainingTextsTab">Training texts</a></li>
						<li><a data-toggle="tab" href="#div_trainingTexts_table">Table Training texts</a></li>
					</ul>

				<!--  the texts will be filled with the jquery $(#trainingTextsMenu).click  when changing the selector -->
				
					<div class="tab-content">
						<!-- These id attributed are intended to present the content of a given file recived through the /getTrainingTexts request -->
						<div id="trainingTextsTab" class="tab-pane fade in active">
						</div>

						<div id="div_trainingTexts_table" class="tab-pane fade">
							<table id="trainingTexts_table" style="width:100%;"></table>
						</div>
					</div>
				</div>
			</div>

	
			<!--  Central content if Tools->Original Texts is selected -->
			<div id="originalTextsProcessing" class="hidden">
				<div class="col-sm-12">
					<p>Original texts processing</p>
					<ul class="nav nav-tabs noarrow">
						<li class="active"><a data-toggle="tab" href="#div_procStep1">Step I: suffix addition</a></li>
						<li><a data-toggle="tab" href="#div_procStep2">Step II: entity identification</a></li>
						<li><a data-toggle="tab" href="#div_procStep3">Step III: surface rewriting</a></li>
					</ul>

				<!--  the texts will be filled with the jquery $(#originalTextsProcessingMenu).click  when changing the selector -->
				
					<div class="tab-content">
						<!-- Info -->
						<div id="div_procStep1" class="tab-pane fade in active">
							<table id="table_procStep1" style="width:100%;"></table>
						</div>
						
						<div id="div_procStep2" class="tab-pane fade">
							<p></p>
							<form>
								Confidence  <input id='inputConfidence' type'text' size='4' name='confidence' value='0.5'>
								Support  <input id='inputSupport' type'text' size='4' name='support' value='20'>
								<button type="button" id='btnRecalcularEntidades'>Recalcular</button>
							</form>
							<p></p>
							<table id="table_procStep2" style="width:100%;"></table>
						</div>
						
						<div id="div_procStep3" class="tab-pane fade">
							<table id="table_procStep3" style="width:100%;"></table>
						</div>
					</div>
				</div>
			</div>
			



			<!--  Central content if the Algorithm A2 is selected -->
			
			<div id="Alg_A2" >
				<div class="col-sm-12">
					<p>Algorithm A2</p>
					<ul class="nav nav-tabs noarrow">
						<li class="active"><a data-toggle="tab" href="#A2_impl">Implementation</a></li>
						<li><a data-toggle="tab" href="#A2_expl">Discarded entities</a></li>
						<li><a data-toggle="tab" href="#A2_info">A2 description</a></li>
					</ul>
	
					<div class="tab-content">
						
						<!--  Implementation tab-->
						<div id="A2_impl" class="tab-pane fade in active">
	
							<div class="panel-group normalAccordion" id="accordionA2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-toggle="collapse"  href="#A2_collapse_Input">Input Data</a></h4>
									</div>
									<div id="A2_collapse_Input" class="panel-collapse collapse in" aria-expanded="true">
										<div class="panel-body">
											<form id="form_A2" action="" method="post">
												<div class="form-group">
													<label for="A2_text">Text:</label>
													<textarea id="A2_text" class="form-control" name="fA2Text" style="overflow: hidden; min-height: 200px;"></textarea>
												</div>
												<div class="form-group">
													<select id="A2_storedQASelector" style="width: 100%; margin-bottom: 10px;">
														<option data-q="" data-a="">Choose to load an Q/A</option>
														{% for pair in parStoredQA %}
															<option data-q="{{pair[0]}}" data-a="{{pair[1]}}">{{pair[0]}}|{{pair[1]}}</option>
														{% endfor %}
													</select>
													<label for="A2_question">Question:</label>
													<input type="text" class="form-control" id="A2_question" name="fA2Question" value="{{ parQuestion }}"></input>
													<label for="A2_response">Answer:</label>
													<input type="text" class="form-control" id="A2_response" name="fA2Answer" value="{{ parAnswer }}" ></input>
												</div>
												
												<div class="form-group">
													<label for="A2_confidence">Confidence:</label>
													<input type="number" class="form-control" id="A2_confidence" name="fA2Confidence" value="0"></input>
												</div>
												<div class="form-group">
													<label for="A2_support">Support:</label>
													<input type="text" class="form-control" id="A2_support" name="fA2Support" value="10"></input>
												</div>
												<div class="form-group">
													<label for="A2_support">Significant POS</label><a href="https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html" sytle="color:blue"> (click to see Full list)</a>:
													<input type="text" class="form-control" id="A2_sigPos" name="fA2Sigpos" value='["JJ", "NN", "NNS", "NNP", "NNPS", "VB", "VBD", "VBG", "VBN", "VVP", "VBZ"]'></input>
												</div>
												<div class="form-group">
													<input type="button" id="computeA2" name="computeA2" value="submit"></input>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<!--  Report tab -->
						<div id="A2_expl" class="tab-pane fade">
							<div class="panel-group normalAccordion" id="accordionExplainA2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-toggle="collapse"  href="#A2_collapse_Input">Rejected Entities</a></h4>
									</div>
									<div id="A2_collapse_Explain" class="panel-collapse collapse in" aria-expanded="true">
										<div class="panel-body">
											<table id="A2_table_rejected" style="width:100%;"></table>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!--  Info tab-->
						<div id="A2_info" class="tab-pane fade">
							<h4>
							<!-- this is the A2 description, not updated -->
							En este caso, en lugar de identificar a través de SNER los términos candidatos a distractores mediante la
							concordancia de tipos con la respuesta, lo que haremos será emplear DB-SL para obtener y valorar esa
							concordancia. <br>
							Los pasos a llevar a cabo en un posible algoritmo serían:</h4>
							<ol>
								<li>Con DB-SL, obtenemos todas las entidades de la DBpedia presentes en T. En este caso, en lugar de un
								tipo, lo que realmente nos proporcionará DB-SL es un conjunto de tipos asociado a cada entidad:
									<ul>
										<li>DB-SL (T) = {(ei , TYP(ei)) / ei &isin; T y ei &isin; a todos los tipos de TYP(ei)}</li>
									</ul>
								</li>
								<li>
									Obtenemos de forma equivalente la lista de tipos de R (a diferencia de SNER, DB-SL sí parece
									proporcionar resultados apropiados con frases breves o incluso palabras aisladas):
									<ul>
										<li>DB-SL (R) = (R , TYP(R)) / R &isin; a todos los tipos de TYP(R)</li>
									</ul>
								</li>
								<li>Nos quedamos como candidatos con las entidades ei que tengan alguno de los tipos de la DBpedia
									(TYP(DBpedia)) en común con R (excluiremos tipos muy genéricos, como Thing o Agent):
									<ul>
										<li>TC (T, R) = {(ei , TYP(ei)) &isin; DB-SL (T) / TYP(ei) &cap; TYP(R) &cap; TYP(DBpedia) &ne; &empty;}</li>
									</ul>
								</li>	
								<li>
									Calculamos la similitud entre el recurso de la DBpedia correspondiente a R y los correspondientes a
									cada uno de esos candidatos ei.
										<ul>
											<li>SIM-TC (T, R)= {SIMR (R, ei)} &forall; ei &isin; TC (T, R)</li>
										</ul>
	
									Posibles formas de calcular esa similitud:
	
									<ol>
										<li>Obtenemos las K palabras significativas de P &rarr; P(P) = {pk / pk &isin; P}</li>
										<li>A partir de R y cada ei, calculamos las probabilidades ({pRpk} y {pipk}) de que estén cerca de los términos pk de la pregunta.</li>
										<li> Esto nos daría las probabilidades de encontrar juntos cada posible distractor (ei) con los
											términos presentes en la pregunta P ({pk}). Habría que medir la similitud entre {pRpk} y cada
											uno de los {pipk}, lo que nos daría la similitud entre R y cada ei (SIMR (R, ei)).</li>
									</ol>
								</li>	
								<li>
									Incluimos en el proceso la similitud entre cada entidad de la DBpedia y la forma del texto, por
									ejemplo, multiplicando ambas. Es decir, multiplicamos la similaridad que mide el parecido entre la
									forma textual que aparece en el texto y la entidad encontrada en la DBpedia (SIMF, proporcionada
									por DB-SL) por la similaridad entre esa entidad y la respuesta (SIMR, calculada por nosotros).
										<ul>
											<li>SIM-TCF (T, R) = {si / si = SIMF (ei, fi) * SIMR (R, ei) &forall; ei &isin; SIM-TC (T, R)</li>
										</ul>
								</li>
								<li>
									A partir de esas similitudes, escogeremos unos para el experto y otros para el novel. Por ejemplo,
									teniendo en cuenta el support (recordar que menos support implica menos enlaces entrantes, lo cual
									significa menor popularidad, lo cual significa menor facilidad para el experto):
									<ul>
										<li>U=e &rarr; Nos quedamos con los 10 más similares del anterior conjunto, y entre ellos escogemos a
											los 3 de menor support (serán los más parecidos y menos conocidos).</li>
										<li>U=n &rarr; Nos quedamos con los 10 menos similares del anterior conjunto, y entre ellos escogemos
											a los 3 de mayor support (serán los menos parecidos y más conocidos).</li>
									</ul>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- HTML page is finished , dynamic behabiour caused by JavaScript starts-->




	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Bootstrap Js CDN: is used to manage the menu collapse and the central menu tabs -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- dataTables: is used to create and fill dynamic tables -->
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
	
	<!--  not clear what they are used to -->
	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
	<script type="text/javascript" src="http://warfares.github.io/pretty-json/pretty-json-min.js"></script>


	<script type="text/javascript">
		
		// convert from  [{name:"prop", value: "valor"}, ...]  to {prop: "valor", ....}
				
		function seralizedToData(a) {
			result = {}
			a.forEach(function(e) {
				if (result.hasOwnProperty(e["name"])) {
					if (Array.isArray(result[e["name"]])) {
						result[e["name"]].push(e["value"]);
					} else {
						prev = result[e["name"]];
						result[e["name"]] = [prev, e["value"]];
					}
				} else {
					result[e["name"]] = e["value"]
				}
			});
				
			return result;
		}


		
		// these are the result fields that are dynamically added to the interface when algorithm A2 is executed
		
		var A2Outputs = [
			{
				id: "A2_1_dbpediaTterms",
				title: "1. DBpedia entities in T",
				type: "table"
			},
			{
				id: "A2_2_dbpediaRterms",
				title: "2. DBpedia entities in R",
				type: "div"
			},
			{
				id: "A2_3_significativeTerms",
				title: "3. Selected candidates",
				type: "table"
			},
			{
				id: "A2_41_significativeWordsInQuestion",
				title: "4.d.i Significative words in Question",
				type: "table"
			},
			{
				id: "A2_42_probabilities",
				title: "4.d.ii  Probabilities extracted from Word2vec neural network",
				type: "div",
				selector: true
			},
			{
				id: "A2_43_similarities",
				title: "4.d.iii Similarity measures",
				type: "table",
				selector: true
			}			
		];

		
		// This is used to add to the A2 tab the result fields. It is implemented in a dynamic way with templates only to facilitate future option additions 
		function addOutput(parent, def) {
			 def.forEach(function(o, i) {
				console.log(o);
				selectorHtml = ""
				if (o.selector) {
					// it created two forms to choose the model  #form_changeModel_A2_42_probabilities   and  #form_changeModel_A2_43_similarities
					// each form has a control for the selector  #model_A2_42_probabilities   and  #model_A2_43_similarities
					selectorHtml = `<form  id="form_changeModel_${o.id}" method="post" style="float: right;">
											<div class="form-group" style="margin-bottom: 0px">
												<select class="form-control" id="model_${o.id}" name="model" style="height: auto;">
													<option value="google">Google Model</option>
													{% for m in parModels %}
													<option value="{{m}}" {{m | isDefaultOption}}>{{ m  | removeDefault }}</option>
													{% endfor %}
												</select>
											</div>
									</form>`;
				}
				$(parent).append(`<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title" style="display:flow-root">
											<a data-toggle="collapse"  href="#A2_collapse${i}">
												${o.title}</a>
											${selectorHtml}
										</h4>
									</div>
									<div id="A2_collapse${i}" class="panel-collapse collapse">
										<div class="panel-body">
											<${o.type} id="${o.id}" class="display" style="width:100%"></${o.type}>
										</div>
									</div>
								</div>`);
			 });
		}

	        
		window.storedQAString = ""   // this is to contain a string with several lines, each line with a question and its answer separated by '|'

		
		// Here it starts what is executed when finishing to load the page  
				
		$(document).ready(function () {

			// goes over all the option of the QA selector of the A2_impl
			// generates the window.storedQAString with several lines, each one for every Q|A 
			// 'e' is optional, its role is done by 'this' (remove?)
			$("#A2_storedQASelector option").each(function(i, e){
				if (i > 0) {
					window.storedQAString += this.getAttribute('data-q') + "|" + this.getAttribute('data-a') + '\n';
				}
			});

			// it registers callback para to treat changes in the QA selector of the  A2_impl
			// change values of Question and Answer in A2_impl depending on the selected option in the selector QA of the A2_impl
			$("#A2_storedQASelector").change(function() {
				question = this.options[this.selectedIndex].getAttribute('data-q');
				answer = this.options[this.selectedIndex].getAttribute('data-a');
				$("#A2_question").val(question);
				$("#A2_response").val(answer);
			});

			
			// fill the default text T in the interface  
			$("#A2_text").val({{ parDefaultText | tojson }});

			// the spinner
			$("#spinner").modal({show: false, backdrop: 'static'});


			// add dynamic fields with the A2 results
			addOutput("#A2_impl", A2Outputs);

			
			// to load dataTables (clarify which ones)
			function loadDatatable(id, data) {
				_data = new Array();
				_columns = new Array();

				data.forEach(function(o, i) {
					if (i == 0) {
						Object.keys(o).forEach(function(h) {
							_columns.push({title: h});
						});
						
					}

					_data.push(Object.values(o))
				});

				if ( $.fn.dataTable.isDataTable(id)) {
					$(id).DataTable().destroy();
				}

				$(id).DataTable({
					data: _data,
					columns: _columns,
					order: [[0, "asc"]]
				});
			}
			

			
			
			// to show A2 and Tools when clicking the menu
			$('#sidebar').find("a").on('click', function (e) {
				target = $(this).attr("data-div");
				console.log(target);
				if ($("#" + target).hasClass("hidden")) {
					notHidden = $("#content").children("div:not(.hidden)");
					console.log(notHidden);
					notHidden.addClass("hidden");
					console.log($("#" + target));
					$("#" + target).removeClass("hidden");
				}
			});
			
			
		
			// al hacer click en el menu Tools: vocabulary, se oculta la label
			$("#modelVocabularyMenu").click(function(){
					$("#legendSelectWord").hide()
					$("#legendMostSimilarWords").hide()
			});
			
			
			// shows the model vocabulary  when selector changes
			// to this aim, Flask "/vocabModel" is requested
			$("#model_vocabulary").change(function() {
				if ( $.fn.dataTable.isDataTable('#modelVocabularyTable' )) {
					$("#modelVocabularyTable").DataTable().clear().destroy();
					$('#modelVocabularyTable').empty();
					$("#legendSelectWord").hide()
				}
				if ( $.fn.dataTable.isDataTable('#similarWordsTable' )) {
					$("#similarWordsTable").DataTable().clear().destroy();
					$('#similarWordsTable').empty();
					$("#legendMostSimilarWords").hide()
				}
				if (this.selectedIndex == 0) {
					return;
				}
	
				$.ajax({
					type: "GET",
					data: {"modelName": $("#model_vocabulary").val()},
					url: "/getVocabModel",
					success: function(result) {
						$("#legendSelectWord").show()
						$("#modelVocabularyTable").DataTable({
							data: result.map(function (x){return ["<b class='wordSelected'>"+x+"</b>"]}),
							pageLength: 20,
							columns: [
							{title: "Word"}
							]
						});

					}
				});
			});

			// activated when clicked over a vocabulary word  
			$("#modelVocabularyTable").on('click', '.wordSelected', function(){
				if ( $.fn.dataTable.isDataTable( '#similarWordsTable' )) {
					$("#similarWordsTable").DataTable().clear();
					$("#similarWordsTable").DataTable().destroy();
					$("#radioSimilarAll").prop("checked", true);
				}
				word = $(this).text()
				$.ajax({
						type: "GET",
						url: "/getSimilarWords",
						data: {"word":word, "n": 1000, "modelName": $("#model_vocabulary").val()}, 
						// received an object with one field per file, the field name is the file name
						// the field value is an object {'text': file contents}
						success: function(result) {
							$("#textLegendMostSimilarWords").html("Most similar words to '"+word+"' &nbsp;&nbsp;&nbsp;")
							$("#legendMostSimilarWords").show()
							
							mostSimilarWords = result["mostSimilarWords"]    // map(function (list){return [list[0], list[1]]})
							mostSimilarEntities = result["mostSimilarEntities"]
							mostSimilarSameTypeEntities = result["mostSimilarSameTypeEntities"]
							
							$("#similarWordsTable").DataTable({
								data: mostSimilarWords,
								pageLength: 10,
								"searching": false,
								columns: [
								{title: "Word"}, {title: "Similarity"}
								]
							});
							
							// when clicking on the radiobutton corresponding to similar entities
							$("#radioSimilarEntities").click(function(){
								if ( $.fn.dataTable.isDataTable( '#similarWordsTable' )) {
									$("#similarWordsTable").DataTable().clear();
									$("#similarWordsTable").DataTable().destroy();
								}
								$("#similarWordsTable").DataTable({
									data: mostSimilarEntities,
									pageLength: 10,
									"searching": false,
									columns: [
									{title: "Word"}, {title: "Similarity"}
									]
								});
							});
							
							// when clicking on the radiobutton corresponding to similar same-type entities 
							$("#radioSimilarType").click(function(){
								if ( $.fn.dataTable.isDataTable( '#similarWordsTable' )) {
									$("#similarWordsTable").DataTable().clear();
									$("#similarWordsTable").DataTable().destroy();
								}
								$("#similarWordsTable").DataTable({
									data: mostSimilarSameTypeEntities,
									pageLength: 10,
									"searching": false,
									columns: [
									{title: "Word"}, {title: "Similarity"}
									]
								});
							});
							
							// when clicking on the radiobutton corresponding to all words
							$("#radioSimilarAll").click(function(){
								if ( $.fn.dataTable.isDataTable( '#similarWordsTable' )) {
									$("#similarWordsTable").DataTable().clear();
									$("#similarWordsTable").DataTable().destroy();
								}
								$("#similarWordsTable").DataTable({
									data: mostSimilarWords,
									pageLength: 10,
									"searching": false,
									columns: [
									{title: "Word"}, {title: "Similarity"}
									]
								});
							});
						}
				});
			});
			
			

			
			
			
			//  when clicking on the Tools->QA, the textare will be filled with the info
			$("#questionAnswerDBMenu").click(function(){
				$("#newStoredQA").val(window.storedQAString);
			});
			
			// to store QA textarea modifications 
			// Flask "/setStoredQA" is requested
			// the answer is the new list, used to update the A2_impl selector
			$("#submit_storedQA").click(function() {
				$.ajax({
					type: "POST",
					url: "/setStoredQA",
					data: {"value":  $("#newStoredQA").val()},
					success: function(result) {
						//Update selector and string
						$("#A2_storedQASelector").empty();
						newOptions = "<option data-q='' data-a=''>Choose to load an Q/A</option>";
						window.storedQAString = "";
						result.forEach(function(o){
							newOptions += `<option data-q='${o[0]}' data-a='${o[1]}'>${o[0]}|${o[1]}</option>`;
							window.storedQAString += o[0] + "|" + o[1] + "\n";
						});
						$("#A2_storedQASelector").append(newOptions);
						alert("Changes saved");
					}
				});
			});

			
			
			$("#launchCorpus").click(function(){
				window.open("/corpus")
			});
			
	
			
			// when clicking on Tools->Training texts   
			// Flask "/getTrainingTexts" is requested
			$("#trainingTextsMenu").click(function(){
				$("#spinner").modal("show");
				$.ajax({
						type: "GET",
						url: "/getTrainingTexts",
						// an object is received  with a field per file: the field name is the file name
						// the field value is an object  {'text': file content, 'data': entities identified in the file}
						success: function(result) {
							console.log("Respuesta recibida al /getTrainingTexts: ", result)
							
							Object.keys(result).forEach(function(f){
								console.log("Nombre del fichero: ", f)
								text = result[f].text;
								console.log("Longitud del fichero: ", text.length);
								
								// order by offset. First, a 2-tupla (entity,offset) is put in the list  
								var orderedOffset = []
								for (var o in result[f].data['byOffset']) {
									e = result[f].data['byOffset'][o]
									orderedOffset.push([e, e['@offset']]);
								}

								// and now the order function. a and b are 2-tuplas, the [1] is the second field, the offset
								orderedOffset.sort(function(a, b) {
									return a[1] - b[1];
								});

								console.log("Tamaño de los offsets: ", orderedOffset.length)
								
								// to highlight with boldface the text entities and add a link for each  
								var textResult = "";
								var previusOffset = 0;
								for (var i in orderedOffset) {
									e = orderedOffset[i][0]   // we get the entity corresponding to that offset
									o = orderedOffset[i][1]
									if (o != e["@offset"]) alert("Distinto")
									// we build the new text changing the surfaceForm by  linked highlighted surfaceForm
									textResult += text.substr(previusOffset, o - previusOffset) + "<b><a href='"+e['@URI']+"' target='_blank'> "+e['entityName']+" </a></b>"
									previusOffset = parseInt(o) + e['entityName'].length;
								}   

								$("#trainingTextsTab").html(textResult);


								datatableMode = []
								for (var type in result[f].data['byType']) {
									for (var entity in  result[f].data['byType'][type]) {
										datatableMode.push({'type': type, "URI": result[f].data['byType'][type][entity]["@URI"]});
									}
								}
								loadDatatable("#trainingTexts_table", datatableMode);
							});
							
							$("#spinner").modal("hide");
						}
				});
			});


			// when clicking in the Tools->original texts processing
			// Flask "/getProcessingStep123Files" is requested with teh tab contents 
			$("#originalTextsProcessingMenu").click(function(){
				$("#spinner").modal("show");
				$.ajax({
						type: "GET",
						url: "/getProcessingStep123Files",
						// received an object with a field per file, the field name is the file name
						// the field value is an object  {'text': file content, 'data': entities identified in the file}
						success: function(data) {
							
							datatableFiles1 = []
							datatableFiles2 = []
							datatableFiles3 = []
							
							files = Object.keys(data)
							files.forEach(function(f){
								ofile = "<b class='toNewWindow'>"+data[f].ofile+"</b>"
								sfile = "<b class='toNewWindow'>"+data[f].sfile+"</b>"
								shfile = "<b class='toNewWindow'>"+data[f].shfile+"</b>"
								nrfile = "<b class='toNewWindow'>"+data[f].nrfile+"</b>"
								phfile = "<b class='toNewWindow'>"+data[f].phfile+"</b>"
								wfile = "<b class='toNewWindow'>"+data[f].wfile+"</b>"
																								
								datatableFiles1.push({'Originales':ofile, 'Modificados':shfile, 'negReport':nrfile});
								
								datatableFiles2.push({'Entidades':phfile});
								
								datatableFiles3.push({'Originales':sfile, 'Modificados':wfile});
								
							});
							
							loadDatatable("#table_procStep1", datatableFiles1);
							
							loadDatatable("#table_procStep2", datatableFiles2);
							
							loadDatatable("#table_procStep3", datatableFiles3);
							
								
							$("#spinner").modal("hide");
						}
				});
			});
			
			// activated when clicking on a file of the Steps 1 or 3    
			$("#table_procStep1, #table_procStep2, #table_procStep3").on('click', '.toNewWindow', function(){
				fich = $(this).text()
				var newWindow=window.open()
				$.ajax({
						type: "GET",
						url: "/getFile",
						data: {"file":fich}, 
						// received an object with a field per file, the field name is the file name  
						// the field value is an object  {'text': file content}
						success: function(data) {            						
							texto = data.text
							head = data.head
							
							newWindow.document.open();
							newWindow.document.write("<b>"+head+"</b><p>");
							newWindow.document.write(texto);
							newWindow.document.close();			
						}
				});
			});
		
			
			
			// this is no longer used, now the *.p.html with the same content is generated in the ps_2, and delivered via  /getFile
			// activated when clicking on a file of the Step 2 
			// this processed is not appropriated here, it shoud be done in the server
			$("#old_table_procStep2").on('click', '.toNewWindow', function(){
				fich = $(this).text()
				var newWindow=window.open()
				$.ajax({
						type: "GET",
						url: "/getEntityFile",
						data: {"file":fich}, 
						// received an object with a field per file, the field name is the file name  
						// the field value is an object  {'text': file content}
						success: function(data) {

							var textResult = "";
							
							text = data.text
							dataMod = data.data
								
							// order by offset. First a 2-tupla (entity, offset) is put in list    
							var orderedOffset = []
							for (var o in dataMod['byOffset']) {
								e = dataMod['byOffset'][o]
								orderedOffset.push([e, e['@offset']]);
							}

							// and now the order function. a and b are 2-tuplas, the [1] is the second field, the offset
							orderedOffset.sort(function(a, b) {
								return a[1] - b[1];
							});

							// to highlight with boldface the text entities and add a link for each  
							var previusOffset = 0;
							for (var i in orderedOffset) {
								e = orderedOffset[i][0]   // we get the entity corresponding to that offset
								// we build the new text changing the surfaceForm by  linked highlighted surfaceForm
								textResult += text.substr(previusOffset, e["@offset"] - previusOffset) + "<b><a href='"+e['@URI']+"' target='_blank'> "+e['@surfaceForm']+" </a></b>"
								previusOffset = parseInt(e["@offset"]) + e['@surfaceForm'].length;
							}   	
							
							textResult = textResult.replace(/\n/g, "<p>")
							
							newWindow.document.open();
							newWindow.document.write("<b>"+fich+": fichero donde se han resaltado (y añadido hiperenlace a) las entidades identificadas por la DBpedia SpotLight</b><p>");
							newWindow.document.write(textResult);
							newWindow.document.close();
							
						}
				});
			});
				

			// executed when ordered recompute the DBpedia detected entities with new confidence and support params
			// no changes in the interface
			$("#btnRecalcularEntidades").click(function(){
				conf = $("#inputConfidence").val()
				sup = $("#inputSupport").val()
				
				$("#spinner").modal("show");
				$.ajax({
						type: "GET",
						url: "/recalculateEntities",
						data: {"confidence":conf, "support":sup},
						success: function(data) {
							console.log("Fin de /recalculateEntities, resultado = "+data["result"])
							$("#spinner").modal("hide");
						}
				});
				
			});
			
			
			// executed when clicking over Tools->'Calculate distance' (among two words)
			// Flask /getDistance is requested
			$("#calculateWordDistance").click(function(){
				_data = $("#form_wordDistance").serializeArray();
				console.log("calculateWordDistance: datos leidos del formulario: ");
				console.log(_data);

				// aux function receiving an array of arrays R, and returns a string with a line per R member
				// such line is the first element of each array ('and the second one')
				// they are supposed to be a word (and its probability)  
				function aux(arr) {
					res = ""
					for (var i in arr) {
						res += arr[i][0] + " (" + arr[i][1] + ")<br>";
					}
					return res;
				}

				$.ajax({
					type: "GET",
					url: "/getDistance",
					data: seralizedToData(_data),
					success: function(data) {
						console.log("calculateWordDistance: respuesta recibida: ");
						console.log(data);
						// if the received object has an 'error' property, it is an error
						if (data.hasOwnProperty("error")) {
							$("#wordDistanceResults").html("<h4>" + data["error"]+"</h4>")  // add the error message to the interface
						} else {
							// build a string with the results summarized
							res = "<h4>Distance:</h4> " + data["distance"] + "<br>";
							res += "<h4>Similarity:</h4>" + data["similarity"] + "<br>";
							res += "<h4>10 words most similar to W1:</h4>" + aux(data["mostSimilarW1"]);
							res += "<h4>words most probable to appear next to W1 (only those with p > 0.05):</h4>" + aux(data["mostProbableW1"]);
							res += "<h4>10 words most similar to W2:</h4>" + aux(data["mostSimilarW2"]);
							res += "<h4>words most probable to appear next to W2 (only those with p > 0.05):</h4>" + aux(data["mostProbableW2"]);

							// add the results to the interface
							$("#wordDistanceResults").html(res);
						}
					},
					error: function(data) {
						console.log("calculateWordDistance error:");
						console.log(data);
					}
				});
			})

						
					
			
	

			
			
			// A2 algorithm (when submit is clicked)

			$("#computeA2").click(function() {

				// an array is created with all the form_A2 fields
				_data = $("#form_A2").serializeArray();
				// the selected model name is added 
				_data.push({name: "modelName", value: $("#model").val()})
				console.log(seralizedToData(_data));

				// format change, from the received one to the needed by Datatables
				function getDataSet (listResources, answerSparqlTypes, answerWikicats) {
					var dataSet = []
					
					// process all the received entities  (T ones, R ones , or step 3 ones)
					for (var k in listResources) {
						var el = listResources[k];  // pick up an entity
						
						// process the types of the entity
						parseTypes = el["@types"].split(",");  // these are the types
						onlyDBpediaTypes = parseTypes.filter(function(e) {  // only the types beginning by "DBpedia:"
								return e.startsWith("DBpedia:");
						});
						onlyTypeNames = onlyDBpediaTypes.map(function(e) {  // the prefix "DBpedia:" is removed
							return e.replace("DBpedia:", "");
						});
						
						onlyTypeNames.sort();
						stringJSONListTypes = JSON.stringify(onlyTypeNames)  // convert the list to a JSON string

						simF = parseFloat(el["@similarityScore"]).toFixed(4)  // extract and convert the entity simF
						
						// process the SPARQL entity types  
						entitySparqTypes = []
						if (el.hasOwnProperty("sparqlTypes")) {
							entitySparqTypes = el["sparqlTypes"];
						} else if (answerSparqlTypes.hasOwnProperty(el["@URI"])) {    // clarify this, happens any time??
							entitySparqTypes = answerSparqlTypes[el["@URI"]];
						}
						
						entitySparqTypes.sort();
						stringJSONSparqTypes = JSON.stringify(entitySparqTypes)

						// process the entity wikicats
						wikicatsTable = []
						if (el.hasOwnProperty("wikicats")) {
							wikicatsTable = el["wikicats"];
						} else if (answerWikicats.hasOwnProperty(el["@URI"])) {   // clarify this, happens any time??
							wikicatsTable = answerWikicats[el["@URI"]];
						}
						
						stringJSONwikicatsTable = JSON.stringify(wikicatsTable)

						dataSet.push([el["@surfaceForm"],  el["@offset"], el["@URI"], simF, stringJSONListTypes, stringJSONSparqTypes, stringJSONwikicatsTable]);
					}
					
					return dataSet;
				}

				// format change, from the received one to the Datatables one  for the question words
				// receive an array of objects, one per word, e.g.  {POS: "VBD", lemma: "lead", offset: 4, word: "led"}
				function getDataSetQuestion (l) {
					var dataSet = []
					for (var k in l) {
						var el = l[k];
						dataSet.push([el["word"],  el["offset"], el["lemma"], el["POS"]]);
					}
					return dataSet;
				}


				
				// to generate a string to shown in the wikicats column
				// receives a string with a JSON list with all the wikicats  (can be a lot)  ["w1", "w2", ...]
				// if only one, it is returned; if several, only 10 first chars are shown  
				function renderCell (data, type, full) {
					var arr = JSON.parse(data);
					if (arr.length == 0) return ""
					if (arr.length == 1) return arr[0];

					var res = ""
					for(var i in arr) {
						res += arr[i] + "\n";
					}
					return "<div title='"+ res + "'>"+arr[0].substr(0, 10)+"...</div>"  // title opens up if mouse over
				  
				}

				// to generate a string with all the types separated by '\n'
				// receives a JSON string, a list with types ["t1", "t2", ...],  add a '\n' to each one
				function renderTypes (data, type, full) {
					 result = "";
					 _data = JSON.parse(data);
					 for(var o in _data) {
						result += _data[o] + "<br>";
					 }
					 return result;
				}

				// form data is sent to the server   
				// Flask /algorithmA2 is requested
				
				$("#spinner").modal("show");
				$.ajax({
					type: "POST",
					url: "/algorithmA2",
					data: seralizedToData(_data),
					complete: function(r) {
						$("#spinner").modal("hide");
					},
					error: function(jqXHR, exception) {
						 var msg = '';
							if (jqXHR.status === 0) {
								msg = 'Not connect.\n Verify Network.';
							} else if (jqXHR.status == 404) {
								msg = 'Requested page not found. [404]';
							} else if (jqXHR.status == 500) {
								msg = 'Internal Server Error [500].';
							} else if (exception === 'parsererror') {
								msg = 'Requested JSON parse failed.';
							} else if (exception === 'timeout') {
								msg = 'Time out error.';
							} else if (exception === 'abort') {
								msg = 'Ajax request aborted.';
							} else {
								msg = 'Uncaught Error.\n' + jqXHR.responseText;
							}
						  console.log(jqXHR) ;
						  console.log(msg);
					},
					success: function(result) {
						console.log(result);
						// if the answer has an 'error' field...
						if (result.hasOwnProperty("error")) {
							alert(result.error)
							// before it was
							// alert("No se encontraron entidades en DBpedia para la respuesta: " + result.dbpedia_answer_candidates["annotation"]["@text"])
							// if no preferred, the candidates were shown, only queied for this
							// this is a costly not usefull call
							return
						}

						// if no error, the tables are filled with the received info
						
						// it is a table of entities identified in T,  (step 1). Destroy the table if already exists    
						if ( $.fn.dataTable.isDataTable( '#A2_1_dbpediaTterms' )) {
							$("#A2_1_dbpediaTterms").DataTable().destroy();
						}
						
						// create the new table with received info
						$("#A2_1_dbpediaTterms").DataTable({
							// getDataSet transforms the received info  to the Datatable format, (a 7-element list for te table 7 columns)
							// pass entities selected in step 1
							data: getDataSet(result.dbpedia_text.Resources, result.answerSparqlTypes, result.answerWikicats),  
							columns: [
							{title: "SurfaceForm"},
							{title: "Offset"},
							{title: "DBpedia Uri"},
							{title: "SimF", type: "num"},
							{title: "Types", mRender: renderTypes},    // renderTypes function is applied to passed info before being included in the table 
							{title: "SPARQL Types", mRender: renderTypes},
							{title: "Wikicats (Mouse over to show all)", mRender: renderCell}  // renderCell function is applied  to passed info before being included in the table
							]
						});

						// now the answer info, both alone and added after T (step 2). It is a div, start cleaning it
						$("#A2_2_dbpediaRterms").empty();
						
						// add header and table  for the entities identified in the alone answer
						$("#A2_2_dbpediaRterms").append("<hr><h4>Answer alone (red=not used, green=used)</h4>")
						$("#A2_2_dbpediaRterms").append("<table id='A2_2_dbpediaRterms_tableAnswerAlone' style='width:100%;'></table>");
						//  add header and table  for the entities identified in the answer after T+Q
						$("#A2_2_dbpediaRterms").append("<hr><h4>Answer appended to Text+Question (red=not used, green=used)</h4>")
						$("#A2_2_dbpediaRterms").append("<table id='A2_2_dbpediaRterms_tableAnswerAfterText' style='width:100%;'></table>");

						
						//destroy the first table (answer alone) is already exists
						if ( $.fn.dataTable.isDataTable( '#A2_2_dbpediaRterms_tableAnswerAlone' )) {
							$("#A2_2_dbpediaRterms_tableAnswerAlone").DataTable().destroy();
						}
						// and create again with received data   
						$("#A2_2_dbpediaRterms_tableAnswerAlone").DataTable({
							data: getDataSet(result.answerEntityAlone, result.answerSparqlTypes, result.answerWikicats),
							columns: [
							{title: "SurfaceForm"},
							{title: "Offset"},
							{title: "DBpedia Uri"},
							{title: "SimF", type: "num"},
							{title: "Types", mRender: renderTypes},
							{title: "SPARQL Types", mRender: renderTypes},
							{title: "Wikicats (Mouse over to show all)", mRender: renderCell}
							],
							drawCallback: function(settings) {
								// #A2_2_dbpediaRterms_tableAnswerAlone_wrapper does not exist in the code 
								// it is a div automatically added by Datatables to wrap table A2_2_dbpediaRterms_tableAnswerAlone
								// it is done with all tables, adding suffix  "_wrapper" to the table name
								if (result.answerUsed == "OnlyAnswer") {
									$("#A2_2_dbpediaRterms_tableAnswerAlone_wrapper").css("background-color", "lightgreen");
								} else {
									$("#A2_2_dbpediaRterms_tableAnswerAlone_wrapper").css("background-color", "orangered");
								}
							}
						});

						// now repeat for the second table (answer after T+Q) 
						if ( $.fn.dataTable.isDataTable( '#A2_2_dbpediaRterms_tableAnswerAfterText' )) {
							$("#A2_2_dbpediaRterms_tableAnswerAfterText").DataTable().destroy();
						}

						$("#A2_2_dbpediaRterms_tableAnswerAfterText").DataTable({
							data: getDataSet(result.answerEntityWithText, [], []),
							columns: [
							{title: "SurfaceForm"},
							{title: "Offset"},
							{title: "DBpedia Uri"},
							{title: "SimF", type: "num"},
							{title: "Types", mRender: renderTypes},
							{title: "SPARQL Types", mRender: renderTypes},
							{title: "Wikicats (Mouse over to show all)", mRender: renderCell}
							],
							drawCallback: function(settings) {
								if (result.answerUsed == "WithText") {
									$("#A2_2_dbpediaRterms_tableAnswerAfterText_wrapper").css("background-color", "lightgreen");
								} else {
									$("#A2_2_dbpediaRterms_tableAnswerAfterText_wrapper").css("background-color", "orangered");
								}
							}
						});

						
						// now step 3, a table with the selected candidates, destoy if exists
						
						if ( $.fn.dataTable.isDataTable( '#A2_3_significativeTerms' )) {
							$("#A2_3_significativeTerms").DataTable().destroy();
						}

						// and create new table with received info
						$("#A2_3_significativeTerms").DataTable({
							data: getDataSet(result.significativeEntities, result.answerSparqlTypes, result.answerWikicats),
							columns: [
							{title: "SurfaceForm"},
							{title: "Offset"},
							{title: "DBpedia Uri"},
							{title: "SimF", type: "num"},
							{title: "Types", mRender: renderTypes},
							{title: "SPARQL Types", mRender: renderTypes},
							{title: "Wikicats (Mouse over to show all)", mRender: renderCell}
							]
						});

						// now step 4.d.1, a table with the question sinificative words
						
						if ( $.fn.dataTable.isDataTable( '#A2_41_significativeWordsInQuestion' )) {
							$("#A2_41_significativeWordsInQuestion").DataTable().destroy();
						}
						// create the table
						$("#A2_41_significativeWordsInQuestion").DataTable({
							data: getDataSetQuestion(result["wordsInQuestion"]),
							columns: [
							{title: "Word"},
							{title: "Offset", type: "num"},
							{title: "Lemma"},
							{title: "POS"}]
						});

						
						// now 4.d.ii, a div wrapping the vector probabilities table   
						
						function loadProbabilities() {
							$("#A2_42_probabilities").empty();  // first clean it
							
							// check the selected model
							selectedModel = $("#model_A2_42_probabilities").val();    // #model_A2_42_probabilities is the selector of models, built in addOutputs

							if (result.probabilities.answer.hasOwnProperty(selectedModel)) {
								if (result.probabilities.answer[selectedModel].entityProbsNearWordsLists_List.length == 0) {
									console.log("Error, la respuesta no está en el modelo: "+selectedModel)
									alert("Error, la respuesta no está en el modelo: "+selectedModel)
								}
							}
							
							if (result.probabilities.candidates.hasOwnProperty(selectedModel)) {
								$("#A2_42_probabilities").append("<hr><h4>Vectors of probabilities for selected candidates </h4>");  // add title for the candidate vector table
								// add the table of candidates vector
								printProperyTable("#A2_42_probabilities", result.probabilities.candidates[selectedModel]);
								
								$("#A2_42_probabilities").append("<hr><h4>Vector of probabilities for Answer </h4>");  // add title for the answer vector table (only one)
								// add table of answer probability vector  (only one row)
								printProperyTable("#A2_42_probabilities", result.probabilities.answer[selectedModel]);
							}
							else {
								console.log("Error, probabilidades no recibidas para el modelo: "+selectedModel)
								alert("Error, probabilidades no recibidas para el modelo: "+selectedModel)
							}
						}

						if (result.hasOwnProperty("probabilities")) {
							loadProbabilities(); // create probabilities table
							$("#model_A2_42_probabilities").off('change').change(loadProbabilities);   // if model selector chages, tables are changed
						}
						
						
						// now 4.d.iii, the similarities
						
						function loadSimilarities() {
							selectedModel = $("#model_A2_43_similarities").val();    // #model_A2_43_similarities is the selector of models, built in addOutputs
							if (result.similarities.hasOwnProperty(selectedModel)) {
								if (result.similarities[selectedModel][0].hasOwnProperty("error")) {
									console.log("Error, la respuesta no está en el modelo: "+selectedModel)
									alert("Error, la respuesta no está en el modelo: "+selectedModel)
								}
								else {
									loadDatatable("#A2_43_similarities", result.similarities[selectedModel]);
								}
							}						
							else {
								console.log("Error, similaridades no recibidas para el modelo: "+selectedModel)
								alert("Error, similaridades no recibidas para el modelo: "+selectedModel)
								}
						}
						if (result.hasOwnProperty("similarities")) {
							loadSimilarities();   // load the similarities table with results   
							$("#model_A2_43_similarities").off('change').change(loadSimilarities);   // if model selector chages, tables are changed
						}

	
						loadDatatable("#A2_table_rejected", result.rejectedTerms)    // table is filled with rejected candidates 
						
					}
				});
			});

			



			// create the tables with the probabilities of candidates and answer  
			
			function printProperyTable(parent, syn1negs) {
				result = `<table style="width:100%;"><thead><tr><th>Entity</th><th>Model word</th>`;
	
				// syn1negs["wordsLists"] is a list of objects {"word": w, "listSubstitutes": l} the original word is in "word"
				listaWordList = syn1negs["wordsLists"]
				listaWords = []
				listaWordList.forEach(function(o) {
					listaWords.push(o["word"])
				});
				
				
				// added headers for all the words in question with probabilities
				listaWords.forEach(function(qK) {
					result += `<th>${qK}</th>`;
				});

				result += "</thead><tbody>"
				
				Object.keys(syn1negs["entityProbsNearWordsLists_List"]).forEach(function(e) {
					entity = syn1negs["entityProbsNearWordsLists_List"][e];
					result += `<tr><td>${entity.uri}</td><td>${entity.nameEntity}</td>`;
					listaWords.forEach(function(qK, i) {
						result += `<td>${entity.probabilities[i]}</td>`;

					});
					result += "</tr>"

					
				});
				result += "</tbody></table>"
				var jqueryResult = $(result);
				$(parent).append(jqueryResult);

				console.log(jqueryResult);
				jqueryResult.DataTable();					
			}

		});

	</script>
</body>
</html>
